.Search {
  max-width: 1020px;
  margin: 25px auto;
}

.Search input[type="text"] {
  width: 100%;
  padding: 15px;
}

.Profile {
  text-align: center;
}

.Profile img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
}

.Profile h1 {
  color: teal;
}

h5, h3, h4 {
  margin: 5px 0px;
}

.Profile h5 {
  color: gray;
  font-size: 18px;
}

.Profile h4 {
  font-size: 20px;
}

.Profile h3 {
  font-size: 28px;
}

.RepoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
}